<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnywhereWorks IT</title>
    <link rel="icon" href="https://lh5.googleusercontent.com/SYzTZooEtu-JQnENi1PmSq63kYiEkIk3Rul_POOdBVQJGo08ziDv6LAcNLvp7gZzEDZHIWdlXMI43P9ShylUUr4">
    <link rel="stylesheet" href="/home.css">
    
</head>
<body>
    <div class="topnav">
        
        <img src="/image/FULLImage.png" alt="LOGO" class="logo">
        </a>
        <div class="topnavcont">
        <a class="Home" >Home</a>
        <a class="Learning" >Learning ⮟</a>
        
        <a class="Process" href="https://sites.google.com/anywhere.co/internal-it/process">Process</a>
        <a class="Frequent Docs" href="https://sites.google.com/anywhere.co/internal-it/frequent-docs">Frequent Docs</a>
        <a class="Network Detail" href="https://sites.google.com/anywhere.co/internal-it/network-details">Network Details</a>
        <a class="How To Troubleshoot" href="https://sites.google.com/anywhere.co/internal-it/how-to-troubleshoot">How To troubleshoot</a>
    </div>
    </div>
    <div class="heading">
        <h2>Welcome to AnywhereWorks IT site</h2>
    </div>
    <div class="grid-container">
        
        <a class="grid-item" href="https://docs.google.com/document/d/13jW-DiArFd9ncghpzzN1a01VJVqvqsHCXVEgWaCd4a0/edit" target="_blank">
            
            <img src="/image/core.png" alt ="Core value" class="grid_logo">
            <h3>Core Values</h3>
            <p>Fundamental beliefs, ideals or practices that inform how you conduct your life, both
                personally professionally</p>
            
            </a>
        <a class="grid-item" href="https://sites.google.com/anywhere.co/internal-it/home/quick-links" target="_blank">
            <img src="/image/Quicklink.png" alt ="Quicklink" class="grid_logo">
            <h3>Quick Links</h3>
            <p>Links to download various version of all work applications and softwares with just a
                click.</p>
            </a>
        <a class="grid-item" href="https://docs.google.com/spreadsheets/d/1oZvVgFg-wzRj3LBh2aUbpSA7CwQiTit38TUZ4mm3LQw/edit#gid=1372519316" target="_blank">
            <img src="/image/It Schedule.png" alt ="IT shedule" class="grid_logo">
            <h3>IT shedule</h3>
            <p>Rotating shift pattern that helps you win your time back to provide 24/7 business
            </p>
        </a>
        <a class="grid-item" href="https://my.distributedsource.com/" target="_blank">
            <img src="/image/Ds.jpg" alt ="DS" class="grid_logo">
            <h3>DS IT Inbox</h3>
            <p>Simple, free small business crm that lets you manage your tasks and accounts.
            </p>
        </a>
        <a class="grid-item" href="https://my.adaptiveu.io/rfo/challenges/category/all?filter=recent" target="_blank" >
            <img src="/image/RFO.png" alt ="RFO" class="grid_logo">
            <h3>RFO</h3>
            <p>University to track the reason for outages or issues that created an impact on our
                Business.
            </p>
        
        </a>
        <a class="grid-item" href="https://it.voicecurve.com/Form/form.php" target="_blank">
            <img src="/image/IT issue.jpg" alt ="IT Issue Form" class="grid_logo">
            <h3>IT Issue Form</h3>
            <p>Tracks issues that were addressed along with time duration for better accountability.
            </p>
        </a>

        <a class="grid-item" href="https://trello.com/full_it/home" target="_blank">
            <img src="/image/Trello.png" alt ="Trello" class="grid_logo">
            <h3>Trello</h3>
            <p>Web-based project management application to follow up on tasks and address deadlines.
            </p>
        </a>
        <a class="grid-item" href="https://sites.google.com/anywhere.co/internal-it/frequent-docs/Key-Contacts" target="_blank">
            <img src="/image/core.png" alt ="Key Contacts" class="grid_logo">
            <h3>Key Contact</h3>
            <p>Follow this document to view the contact information of POCs from varions teams
            </p>
        </a>
        <a class="grid-item" href="https://it.anywhere.co/Docs/PolicyDocuments/SystemRequirements" target="_blank">
            <img src="/image/Systemreq.png" alt ="System Requirments" class="grid_logo">
            <h3>System Requirments</h3>
            <p>Rotating shift pattern that helps you win your time back to provide 24/7 business
            </p>
        </a>
        
</body>
</html>